footer {
    background-color: #222222;
}

footer .div-footer-principal {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 8% 0;
}

footer .div-footer-principal .div-contato {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7%;
}

footer .div-footer-principal .div-contato img {
    width: 35px;
}

footer .div-footer-principal .div-contato a:hover {
    opacity: 0.7;
}

/** Desktop **/

@media only screen and (min-width: 2200px) {

    footer .div-footer-principal .div-contato img {
        width: 50px;
    }

    footer .div-footer-principal .div-contato {
        gap: 4%;
    }

}

@media only screen and (min-width: 1700px) and (max-width: 2200px) {

    footer .div-footer-principal .div-contato img {
        width: 40px;
    }

    footer .div-footer-principal .div-contato {
        gap: 5%;
    }
}

@media only screen and (max-width: 1350px) {

    footer .div-footer-principal {
        padding: 8% 5%;
    }
}

/** Mobile **/

@media only screen and (max-width: 545px) {

    footer .div-footer-principal .div-contato img {
        width: 30px;
    }
}

@media only screen and (max-width: 492px) {

    footer .div-footer-principal {
        display: grid;
        grid-template-columns: 60% 40% ;
    }
}

@media only screen and (max-width: 492px) {

    footer .div-footer-principal .div-contato {
        gap: 10%;
    }
}
