header{
    background-color: #141414;
    height: 100vh;
}

.div-header-principal{
    display: grid;
    grid-template-columns: 55% 45%;
    height: 90vh;
}


.nome, .nome-ultimas-letras {
    font-size: 6rem;
    border-bottom: 2px solid #7fc3c0;
    color: #f5f3f3;
}

.nome-ultimas-letras{
    color: #141414;
}

.paragrafo-header{
    width: 80%;
    margin-bottom: 10%;
}

a.link-contato{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #7fc3c0;
    letter-spacing: 2px;
}

a.link-contato:hover{
    color: #7fc3c0;
    
}

.div-header-img{
    background-image: url("../assets/WhatsApp\ Image\ 2023-05-06\ at\ 14.28.09.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

