main.projetos{
    background-color: #141414;
    padding: 5% 0 16% 0;
}

.container-card-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4%;
    row-gap: 10%;
}