section{
    background-color: #141414;
}

section div.limitar-largura{
    border-top: 2px solid #fff;
}

section .skills {
    padding: 3% 0 5% 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10%;
}

#h2-conhecimentos{
    margin-top: 5%;
}