.limitar-largura {
    width: 100%;
    max-width: 1324px;
    margin: 0 auto;
}

.margin-top{
    margin-top: 8%;
}

h1{
    width: 120%;
    font-size: 5.9rem;
    margin: 10% 0 4% 0;
    position: relative;
    z-index: 10;
    
}

h2{
    font-size: 4.5rem;
    margin-bottom: 5%;
}

p{
    font-size: 1.8rem;
}

a{
    font-size: 2rem;
}

@media only screen and (max-width: 1350px){
    .limitar-largura {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 1250px){
    h1{
        width: 100%;
    }
}

@media only screen and (max-width: 1090px){
    h1{
        font-size: 5rem;
    }

    h2{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 830px){
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 674px){
    h1{
        text-align: center;
    }

    h2{
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 545px){
    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 492px){
    h1{
        font-size: 3.3rem;
        margin-bottom: 8%;
    }

    h2{
        font-size: 2.8rem;
        margin-bottom: 25%;
    }
}

@media only screen and (max-width: 449px){
    h1{
        font-size: 3rem;
        margin-bottom: 12%;
    }

    h2{
        font-size: 2.6rem;
    }
}





